html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
  }

  .header{
    width: 100%;
    max-height: 200px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 6px 6px 0px rgba(214,215,235,1);
  }
  
  .header img{
    width: 15rem;
    height: 10rem;
  }

  .header p, a{
    text-decoration: none;
    margin: 0;
    padding-top: 2rem;
  }

  .container{
    width: 100%;
    height: auto;
    box-shadow: 0px 6px 6px 0px rgba(214,215,235,1);
  }

  h1{
    font-weight: 700;
  }

  .google,
  .facebook{
    color: white;
    padding: 0.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    border-radius: 0.5rem;
  }

  .google{
    background-color: #4286f1;
  }

  .facebook{
    background-color: #4266b5;
  }

  .bold{
    font-weight: 700;
  }

  input[type="email"],
  input[type="password"]{
    width: 55rem;
    height: 4rem;
    border-radius: 0.5rem;
    border: 1px solid #333;
  }

  .submit{
    border: 2px dashed #ccc;
    padding: 2rem;
    border-radius: 5rem;
    text-transform: uppercase;
    color: #ccc;
    font-weight: bold;
    letter-spacing: 0.2rem;
    background-color: white;
    margin-bottom: 1rem;
  }

  .footer{
    width: 100%;
    height: 10rem;
    
  }

  .footer__menu{
    display: flex;
    justify-content:first baseline;
  }

  .footer__menu p{
    margin-left: 5rem
  }

  .footer__menu ul li{
    display: inline;
    margin: 1rem;
  }

  


  
